.title {
    color: wheat;
    font-family: "Roboto Slab";
    font-size: 60px;
    padding-left: 10px;
    letter-spacing: 4px;
}
#author {
    color: white;
}
.nav {
    text-align: center;
    padding: 12px 12px;
}
.link {
    font-size:  30px;
    border: 1px white solid;
    text-align: center;
    margin: 15px;
    background-color: rgb(238, 171, 26);
    font-family: "Cabin";
    text-decoration: solid;
    
}
.copyright {
    color: white;
    font-size: 12px;
}
.subtext {
    font-family: "Martian Mono";
    color: white;
    background-color: rgba(21, 122, 89, 0.74);
    font-size: 20px;
    text-indent: 5ch;
    padding: 15px;
    text-align: justify;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.body {
    text-align: justify;
}
body {
    background-image: url(biobg.png);
}
.email, .email:active {
    color: #ffebcd;
}
.email:hover {
    color: red;
}
.link, .link:active {
    color: bisque;
}
.link:hover {
    color: red;
}
header {
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(210, 105, 30, 0.795);
}
footer {
    text-align: center;
}
.highlight {
    color: white;
    background-color: rgb(0, 0, 0);
}
.caption {
    text-align: center;
    padding: 10px 20px;
    font-family: "Cabin";
    color: white;
    font-size: 25px;
}
.subtext3 {
    text-align: center;
    font-family: "Martian Mono";
    color: white;
    background-color: rgba(21, 122, 89, 0.74);
    font-size: 20px;
    padding: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.subtitle {
    font-family: "Roboto Slab";
    font-size: 32px;
    color: rgb(229, 240, 75);
    background-color: #926016;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img2 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img3 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img4 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img5 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img6 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img7 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img8 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img9 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img10 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img11 {
    display: block;
    width: 100%;
    border: 2px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image2 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image3 {
    margin: 20px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image4 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image5 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}
#image6 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image7 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#image8 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#image9 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#image10 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#image11 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}